<h1>Forgot your password?</h1>

<p>
	Enter your <%=h @identifier_field %> below to start the password reset process. 
	You'll be sent an email containing a link and a passphrase. 
	Click the link, enter the passphrase, and choose your new password. Easy peasy!
</p>

<%= partial "create" %>