<h1>Forgot your password?</h1>

<ul class="navigation">
	<li><%= link_to "Cancel and return to log in", slice_url(:new_session), :class=>"new session" %></li>
</ul>

<p>
	Enter your <%=h @identifier_field %> below to start the password reset process. 
	You'll be sent an email containing a link and a passphrase. 
	Click the link, enter the passphrase, and choose your new password. Easy peasy!
</p>

<%= partial "create" %>