<h1>Reset your password</h1>

<ul class="navigation">
	<li><%= link_to "Cancel and return to log in", slice_url(:delete_password_reset, @password_reset, :return_to=>slice_url(:new_session)), :class=>"destroy password_reset" %></li>
</ul>

<p>
	Check your email for a message from us. 
	The message you're looking for contains a <strong>secret</strong>, which will be a short gibberish sentence made up of a few words. 
	Enter the secret below, then choose and confirm your new password, and you'll be good to go.
</p>

<%= partial "edit" %>