<h1>Reset your password</h1>

<p>
	Check your email for a message from us. 
	The message you're looking for contains a <strong>secret</strong>, which will be a short gibberish sentence made up of a few words. 
	Enter the secret below, then choose and confirm your new password, and you'll be good to go.
</p>

<%= partial "edit" %>