<%
	ac = @authenticating_client
%>

<% if @activated %>

<h1 class="win">You successfully authorized <%=h ac.name %></h1>

<div id="win facts">
	<h2>To access your account:</h2>
	
	<ul>
		<li>Until <%= @token.expires.strftime("%d/%b/%Y") %></li>
		<li>With permission to <%= MerbAuthSliceFullfat[:client_permission_levels][@token.permissions.to_sym][:able_to] %>.</li>
	</ul>
	
	<p>
		<strong>You may now close this window or navigate away from this page.</strong>
	</p>
</div>

<% else %>

<h1 class="fail">You denied <%=h ac.name %> access to your content</h1>

<div id="fail facts">
	<h2>This application will not be able to access your account.</h2>
	
	<p>
		<strong>You may now close this window or navigate away from this page.</strong>
	</p>
</div>

<% end %>