<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Full-fat Auth Slice</title>
	</head>
<!-- you can override this layout at slices/ooh-auth/app/views/layout/ooh-auth.html.erb -->
	<body class="ooh-auth">
		<div id="root">
			<h1>Full-fat Auth Slice</h1>
			
			<% unless message.blank? %>
				<div id="_message">
						<%=h message %>
				</div>
			<% end %>
			
			<div id="main">
				<%= catch_content :for_layout %>
			</div>
		</div>
	</body>
</html>